<h3><%= @project.name %></h3>
<div class="container-fluid text"> 
    <h4> Description: </h4> 
    <p><%= @project.bio %></p>
    <h4> Type: </h4> 
    <p><%= @project.artform %></p>
    <h4> Genre: </h4> 
    <p><%= @project.genre %></p>

</div>
    <hr>
    <h3><a href="/projects/<%=@project.id%>/characters">Characters (<%=@characters.all.count%>) </a></h3>

    <hr>
    <h3><a href="/projects/<%=@project.id%>/settings">Settings (<%=@settings.all.count%>)</a></h3>
    <hr>

    <h3><a href="/projects/<%=@project.id%>/scenes">Scenes (<%=@scenes.all.count%>)</a></h3>

    <a href="/projects" class=" btn btn-default btn-xs">Back</a>

